<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="bg-dark text-light">
    <div class="d-flex justify-content-around mt-5">
        <h1 class="text-center">Search with TMDB API!</h1>
        <h1 class="text-center">Sign Up to leave reviews <br>On movies you've seen!</h1>
    </div>
    <div class="d-flex justify-content-around align-items-center">
        <h1>Search By Movie!</h1>
        <div>
            <div>
                {% with messages = get_flashed_messages(category_filter=['register']) %}
                {% if messages %}
                <div role="alert">
                    {% for message in messages %}
                    <p>{{message}}</p>
                    {% endfor %}
                </div>
                {% endif %}
                {% endwith %}
                <h2 class="m-4 mt-6">Register</h2>
            </div>
            <div>
                <form action="/register" method="post" class="col-lg-12 m-2 p-3 bg-dark text-light rounded">
                    <div class="form-group">
                        <label for="name" class="m-1">User Name:</label>
                        <input class="form-control m-1" type="text" name="name">
                    </div>
                    <div class="form-group">
                        <label for="email" class="m-1">Email:</label>
                        <input class="form-control m-1" type="text" name="email">
                    </div>
                    <div class="form-group">
                        <label for="password" class="m-1">Password:</label>
                        <input class="form-control m-1" type="password" name="password">
                    </div>
                    <div class="form-group">
                        <label for="confirm" class="m-1">Confirm Password:</label>
                        <input class="form-control m-1" type="password" name="confirm">
                    </div>
                    <input type="submit" value="Register" class="btn btn-primary m-1">
                </form>
            </div>
        </div>
        <div>
            <div>
                {% with messages = get_flashed_messages(category_filter=['login']) %}
                {% if messages %}
                <div role="alert">
                    {% for message in messages %}
                    <p>{{message}}</p>
                    {% endfor %}
                </div>
                {% endif %}
                {% endwith %}
                <h2 class="m-4 mt-6">Login</h2>
            </div>
            <div>
                <form action="/login" method="post" class="col-lg-12 m-2 p-3 bg-dark text-light rounded">
                    <div class="form-group">
                        <label for="email" class="m-1">Email:</label>
                        <input class="form-control m-1" type="text" name="email">
                    </div>
                    <div class="form-group">
                        <label for="password" class="m-1">Password:</label>
                        <input class="form-control  m-1" type="password" name="password">
                    </div>
                    <input type="submit" value="Login" class="btn btn-primary m-1">
                </form>
            </div>
        </div>
        <h1>Dont know what you want to search for?</h1>
    </div>
    <div class="text-center">
        <h1>Search for movies by Genre!</h1>
    </div>
    <div class="text-center">
        <h1>Heres a link to <a href="https://developers.themoviedb.org/3/getting-started/introduction">The Movie Database API</a></h1>
    </div>
    <script src="static/static.js"></script>
</body>
</html>